<table xmlns:th="http://www.w3.org/1999/xhtml">
  <thead>
  <tr>
    <th>ID</th>
    <th>Utilisateur</th>
    <th>Date</th>
    <th>Heure de début</th>
    <th>Heure de fin</th>
    <th>Salle</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reservation : ${reservations}">
    <td th:text="${reservation.id}"></td>
    <td th:text="${reservation.utilisateur}"></td>
    <td th:text="${reservation.date}"></td>
    <td th:text="${reservation.heureDebut}"></td>
    <td th:text="${reservation.heureFin}"></td>
    <td th:text="${reservation.salle.nom}"></td>
    <td>
      <a th:href="@{/reservation/update/{id}(id=${reservation.id})}">Modifier</a>
      <a th:href="@{/reservation/delete/{id}(id=${reservation.id})}"
         onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réservation ?');">Supprimer</a>
    </td>
  </tr>
  </tbody>
</table>
